:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    max-width: 90rem;
    margin: auto;
    background-color: var(--off-white);
}

/* Prevent body scroll when mobile nav is open */
body.no-scroll {
    overflow: hidden;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6.25rem;
    margin-bottom: 3.125rem;
}

header nav ul{
    display: flex;
    gap: 3.125rem;
}

header nav ul li{
    list-style: none;
}

.menu {
    display: none;
}

.menu_close {
    display: none;
}

header nav ul li a{
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 1.25rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: var(--soft-red);
}

main .main_hero {
    display: flex;
    gap: 3.125rem;
    width: 100%;
}

main .main_hero .intro_news {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

main .main_hero .intro_news img {
    width: 100%;
    max-width: 59.375rem;
    height: auto;
}

main .main_hero .intro_news .intro_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "header_question description"
    "header_question button";
        justify-content: center;
    align-items: center;
}

main .main_hero .intro_news .intro_text h1 {
    font-size: 5.3125rem;
    width: 28.125rem;
    font-weight: bolder;
    line-height: 0.9;
}

main .main_hero .intro_news .intro_text p {
    color: var(--dark-blue);
    font-size: 1.375rem;
    line-height: 1.5;
    width: 29.6875rem;
}

main .main_hero .intro_news .intro_text button {
    width: 15.625rem;
    height: 4.6875rem;
    background-color: var(--soft-red);
    margin-top: 1.25rem;
    text-decoration: none;
    color: black;
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

main .main_hero .intro_news .intro_text button:hover {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    cursor: pointer;
}

main .main_hero .new_news {
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-blue);
    width: 100%;
    padding: 2.5rem;
}

main .main_hero .new_news h1 {
    color: var(--soft-orange);
    font-size: 3.125rem;
}

main .main_hero .new_news .news_headlines ul {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    margin-top: 3.125rem;
    justify-content: center;
    align-items: end;
    position: relative;
}

main .main_hero .new_news .news_headlines ul li {
    height: 100%;
}

.divider::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.0625rem;
    background-color: var(--grayish-blue);
    margin-top: 3.125rem;
    position: absolute;
}

main .main_hero .new_news .news_headlines a {
    color: var(--off-white);
    font-size: 1.5625rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

main .main_hero .new_news .news_headlines a:hover {
    color: var(--soft-orange);
}

main .main_hero .new_news .news_headlines p {
    color: var(--grayish-blue);
    font-size: 1.125rem;
    margin-top: 1.25rem;
    line-height: 1.5;
}

.news_cards {
    display: flex;
    width: 100%;
    flex: 1;
    gap: 1.875rem;
    margin-top: 3.125rem;
    margin-bottom: 6.25rem;
    justify-content: space-between;
}

.news_card {
    display: flex;
    align-items: top;
    justify-content: left;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.news_card img {
    width: 9.375rem;
    max-width: 100%;
    height: auto;
}

.news_card .card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news_card .card_text h2 {
    color: var(--soft-red);
    font-size: 3.125rem;
}

.news_card .card_text a {
    color: black;
    text-decoration: none;
    font-size: 1.375rem;
    font-weight: 900;
    transition: all 0.3s ease;
}

.news_card .card_text a:hover {
    color: var(--soft-red);
}

.news_card .card_text p{
    color: var(--dark-blue);
    line-height: 1.5;
    font-size: 1.125rem;
    width: 15.625rem;
}

@media screen and (max-width: 1440px) {
    body {
        padding: 3.125rem;
    }
    .main_hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .main_hero .new_news .news_headlines ul {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        margin-top: 3.125rem;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    main .main_hero .new_news .news_headlines ul li {
        height: 100%;
        width: 18.75rem;
    }

    .divider::after {
        content: "";
        display: none;
    }
}

@media screen and (max-width: 950px) {
    body {
        padding: 1.5625rem;
    }

    .menu {
        display: block;
        margin-top: -4.6875rem;
    }

    .menu:hover {
        cursor: pointer;
    }

    .nav_logo {
        margin-top: -7.8125rem;
    }

    .nav_links {
        position: absolute;
        left: -200%;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 300ms ease, opacity 300ms ease;
        pointer-events: none;
    }

    .nav_links__disappear {
        position: absolute;
        left: -200%;
        opacity: 0;
        transform: translateX(100%);
        pointer-events: none;
    }

    .nav_links__appear {
        position: fixed;
        inset: 0 0 0 0;
        background-color: white;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 3.125rem;
        box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.9);
        z-index: 9999;
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }

    .menu_close {
        opacity: 0;
        transform: translateY(-0.625rem);
        transition: transform 200ms ease, opacity 200ms ease;
    }

    .menu_close__appear {
        display: block;
        position: absolute;
        top: 3.125rem;
        right: 3.125rem;
        opacity: 1;
        transform: translateY(0);
    }

    main .main_hero .intro_news img {
        width: 37.5rem;
        margin: auto;
    }
    .main_hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
    }

    main .main_hero .intro_news .intro_text {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    main .main_hero .intro_news .intro_text h1 {
        font-size: 3rem;
        line-height: 1.25;
    }

    .news_cards {
        flex-direction: column;
        align-items: center;
    }

    main .main_hero .new_news .news_headlines ul {
        flex-direction: column;
        gap: 6rem;
        margin-top: 3.125rem;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .divider::after {
        content: "";
        display: block;
        width: 50%;
        height: 0.0625rem;
        background-color: var(--grayish-blue);
        position: absolute;
    }
}

@media screen and (max-width: 600px) {
    main .main_hero .intro_news img {
        width: 100%;
        margin: auto;
    }

    main .main_hero .new_news h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    *{
        text-align: center;
    }
    main .main_hero .intro_news img {
        width: 350px;
        margin: auto;
    }

     .main_hero{
        flex-direction: column;
        justify-content: left;
        align-items: center;
        text-align: center;
        gap: 1.25rem;
    }

    main .main_hero .intro_news .intro_text {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    main .main_hero .intro_news .intro_text h1 {
        font-size: 1.5rem;
        width: 100%;
        line-height: 1.25;
    }

    main .main_hero .intro_news .intro_text p {
        font-size: 15px;
        width: 350px;
    }

    main .main_hero .intro_news .intro_text button {
        width: 100%;
    }

    .main_cards {
        margin: auto;
    }

    .news_cards {
        display: flex;
        margin: auto;
        justify-content: center;
        margin-top: 50px;
    }

    .news_card {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        flex-wrap: wrap;
    }
}